.info-window-card {
  position: relative;
  height: auto;
  width: 300px;
  background: white;
  border-radius: 16px;
  /* box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15); */
  padding: 0px 10px 0px 0px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  z-index: 10;
}

.info-image {
  width: 288px;
  height: 160px;
  object-fit: cover;
  border-radius: 12px;
  /* margin-bottom: 5px; */
}

.info-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.info-header h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
}

.rating51 {
  display: flex;
  align-items: center;
  font-size: 14px;
  gap: 4px;
  color: #555;
}

.info-tabs {
  display: flex;
  gap: 20px;
  margin: 0px 65px;
  /* font-size: 14px;
  font-weight: 500; */
  /* border-bottom: 1px solid #ccc; */
  /* padding-bottom: 5px; */
}

.info-tabs span {
  font-size: 14px;
  font-weight: 500;
}

.active-tab {
  color: #007bff;
  border-bottom: 2px solid #007bff;
}

.inactive-tab {
  color: #888;
}

.info-desc {
  font-size: 14px;
  margin-bottom: 8px;
  color: #444;
  border-top: 1px solid #ddd; 
  padding-top: 5px;
}

.info-link {
  font-size: 13px;
  color: #1e90ff;
  text-decoration: none;
  display: block;
  word-break: break-word;
  margin-bottom: 8px;
}

.info-open {
  font-size: 14px;
  margin-bottom: 12px;
}

.open-status {
  color: rgb(0, 166, 0);
  font-weight: 500;
}

.info-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6px;
}

.book-btn {
  background-color: #1e90ff;
  color: white;
  padding: 10px 24px;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.book-btn:hover {
  background-color: #0f75d3;
}

.info-footer {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  color: #555;
  font-weight: 400;
  padding: 4px 12px 6px 12px;
  border-radius: 999px;
  background-color: #e9e9e9;
  margin-bottom: 10px;
}

.footer-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  /* padding: 10px; */
  border-radius: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  min-width: 60px;
}

.footer-item:hover {
  background-color: rgba(255, 255, 255, 0.5);
  transform: translateY(-2px);
}

.footer-item.active {
  /* background-color: white; */
  color: #0f75d3;
  font-weight: 600;
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
}

.footer-icon {
  padding: 8px;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.footer-item.active .footer-icon {
  background-color: #007bff;
  color: white;
}

.read-more-toggle {
  color: #1e90ff;
  cursor: pointer;
  font-weight: 500;
  margin-left: 6px;
}

