.error-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    text-align: center;
    background: linear-gradient(90deg, #cce5ff 0%, #ffffff 100%);
  }
  
  .error-page h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  .error-page p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
  
  .error-page button {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .lottie-error {
    width: 300px;
    margin-bottom: 2rem;
  }
  