.error-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    text-align: center;
    background: linear-gradient(90deg, #cce5ff 0%, #ffffff 100%);
  }
  
  .error-page h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  .error-page p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
  
  .error-page button {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .lottie-error {
    width: 300px;
    margin-bottom: 2rem;
  }

  .back-home {
  background: linear-gradient(to right, #007bff, #66b2ff);
  color: white;
  border: none;
  border-radius: 8px;
  transition: all 0.3s ease;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 123, 255, 0.2);
}

.back-home:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 15px rgba(0, 123, 255, 0.4);
  background: linear-gradient(to right, #0056b3, #3399ff);
}

.back-home:active {
  transform: scale(0.95);
}

  