.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    flex-wrap: wrap;
  }
  
  .left-section {
    display: flex;
    align-items: center;
  }
  
  .center-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
  }
  
  .top-right-section {
    display: flex;
    align-items: flex-end;
  }
  
  .right-content {
    display: flex;
    align-items: flex-start;
    gap: 10px;
  }
  
  .search-container {
    margin-left: 0;
  }
  
  .logo {
    height: 20px;
    width: auto;
  }
  
  .date-time-weather-container {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  
  .date-time {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #007aff;
    gap: 10px;
    font-weight: bold;
    background-color: #ece6f0;
    padding: 5px 12px;
    border-radius: 25px;
    height: 32px;
    box-sizing: border-box;
  }
  
  .weather-section {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    color: #333;
    background-color: #ece6f0;
    padding: 5px 12px;
    border-radius: 25px;
    font-weight: bold;
    height: 40px;
    box-sizing: border-box;
    width: fit-content;
    margin-left: auto;
  }
  
  .profile-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ece6f0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .weather-info {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .weather-icon {
    font-size: 18px;
  }
  
  .town-selector {
    border: none;
    background: none;
    font-size: 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .dropdown-container {
    position: relative;
    display: inline-block;
  }
  
  .dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #ece6f0;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    z-index: 1001;
    margin-top: 10px;
    width: auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
  }
  
  .dropdown-item {
    padding: 10px 8px;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    border-radius: 4px;
    color: #007aff;
    text-align: center;
  }
  
  .dropdown-item:hover {
    background-color: #007aff;
    color: white;
  }
  
  .current-location {
    grid-column: 1 / -1;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
    padding-bottom: 10px;
    border-bottom: 2px solid #ccc;
  }