.push-notification-container {
    margin: 2rem auto;
    /* border-radius: 12px; */
    background-color: #fff;
  }
  
  .push-notification-container h2 {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 2rem;
  }
  
  .notification-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.75rem 1rem;
    border-radius: 8px;
    transition: background 0.3s;
    width: 100%;
    max-width: 400px; /* Optional: sets a clean limit */
  }
  
  .notification-item span {
    flex: 1;
    margin-right: 1rem; /* Creates consistent spacing before switch */
  }
  
  
  .notification-item:hover {
    background-color: #f5faff;
  }

  .confirmation-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
  }
  
  .modal-content {
    background-color: #fff;
    padding: 1.5rem 2rem;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    max-width: 400px;
    text-align: center;
  }
  
  .modal-buttons {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
  }
  
  .confirm-btn {
    background-color: #dc2626;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .cancel-btn7 {
    background-color: #e5e7eb;
    color: black;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    cursor: pointer;
  }
  