.push-notification-container {
    max-width: 500px;
    margin: 2rem auto;
    /* border-radius: 12px; */
    background-color: #fff;
  }
  
  .push-notification-container h2 {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 2rem;
  }
  
  .notification-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.75rem 1rem;
    border-radius: 8px;
    transition: background 0.3s;
  }
  
  .notification-item:hover {
    background-color: #f5faff;
  }
  