
.styled-searchbar-container {
  position: absolute;
  top: 15px;
  left: 15%;
  transform: translateX(-50%);
  z-index: 999;
  background-color: #f2ecf7;
  border-radius: 30px;
  padding: 4px 16px;
  display: flex;
  align-items: center;
  width: fit-content;
}

.styled-searchbar-input {
  border: none;
  outline: none;
  background: transparent;
  font-size: 14px;
  color: #3d3842;
  width: 200px;
}

.styled-searchbar-input::placeholder {
  color: #3d3842;
  font-weight: 400;
}

.styled-search-icon {
  font-size: 18px;
  color: #3d3842;
  margin-left: 10px;
  cursor: pointer;
}

.searchbar-logo {
  width: 40px;
  height: 40px;
  margin-right: 12px;
  object-fit: contain;
}

/* Style the autocomplete dropdown container */
.gmnoprint .gm-style .pac-container {
  background-color: #fff; /* Set background color */
  border-radius: 5px; /* Rounded corners for suggestions */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow effect */
  max-height: 250px; /* Limit height */
  overflow-y: auto; /* Allow scrolling */
  font-family: Arial, sans-serif;
  font-size: 14px;
  z-index: 1000; /* Make sure the dropdown stays above other content */
}

/* Optional: Style for individual suggestions */
.gmnoprint .gm-style .pac-item {
  padding: 10px;
  cursor: pointer;
}

.gmnoprint .gm-style .pac-item:hover {
  background-color: #f0f0f0; /* Hover effect */
}