@import "leaflet/dist/leaflet.css";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

/* a:hover {
  color: #535bf2;
} */

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: white;
  }
}

body.menu-open {
  overflow: hidden;
}

button:focus,
a:focus {
  outline: none;
  border: none;
}

@keyframes drop {
  0% {
    transform: translateY(-30px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Hide scrollbars for better aesthetics */
::-webkit-scrollbar {
  display: none;
}

.gm-style img[src*="https://maps.gstatic.com/mapfiles/api-3/images/"] {
  display: none !important;
}

/* Senior Mode */
.senior-mode-active button {
  font-size: 1.25rem;
}

.senior-mode-active .settings-container .sidebar-item,
.senior-mode-active .settings-container .content-section h2 {
  font-size: 1.25rem;
}

.senior-mode-active .faq-list-item,
.senior-mode-active .sidebar-item123 {
  font-size: 1.25rem;
}

.senior-mode-active .field-group label,
.senior-mode-active .field-group input {
  font-size: 1.25rem;
}

.senior-mode-active .sidebar .sidebar-content .sidebar-menu .menu-item a {
  font-size: 1.25rem;
}

.senior-mode-active .event-tabs .event-tab {
  font-size: 1.25rem;
}

.senior-mode-active .search-input-mj {
  font-size: 1.25rem;
}

.senior-mode-active .card .card-content,
.senior-mode-active .card .card-content p {
  font-size: 1.25rem;
}

.senior-mode-active .footer-links .links-column h4,
.senior-mode-active .footer-links .links-column ul li a {
  font-size: 1.25rem;
}

.senior-mode-active .event-card-enp h4,
.senior-mode-active .event-card-enp p,
.senior-mode-active .event-card-enp .event-detail-text-enp {
  font-size: 1.25rem;
}

.senior-mode-active .minimized-container-enp .minimized-text-enp {
  font-size: 1.25rem;
}

/* Explore major towns */
.senior-mode-active .centered-about-section .text-content p,
.senior-mode-active .section-header-container p {
  font-size: 1.25rem;
}

.senior-mode-active .search-input {
  font-size: 1.25rem;
}

.senior-mode-active .carousel-description-text,
.senior-mode-active .carousel-description-actions a,
.senior-mode-active .video-info h3,
.senior-mode-active .video-info p {
  font-size: 1.25rem;
}

/* Explore other pages */
.senior-mode-active .hero-overlay-dp p,
.senior-mode-active .overview-text-dp {
  font-size: 1.25rem;
}

.senior-mode-active .info-card-dp,
.senior-mode-active .info-card-dp p {
  font-size: 1.25rem;
}

.senior-mode-active .place-info-dp .place-type-dp,
.senior-mode-active .place-info-dp h3,
.senior-mode-active .place-info-dp .address-dp {
  font-size: 1.25rem;
}

/* Contact Us Page */
.senior-mode-active .header,
.senior-mode-active .help-section,
.senior-mode-active .form-section {
  font-size: 1.25rem;
}

/* CBT Admin Dashboard */
.senior-mode-active .greeting p,
.senior-mode-active .viz-header p {
  font-size: 1.25rem;
}

/* CBT View Inquiries Page */
.senior-mode-active .search-bar input,
.senior-mode-active .inquiry-statistics .stat span {
  font-size: 1.25rem;
}

.senior-mode-active .inquiry-item .inquiry-brief div,
.senior-mode-active .inquiry-item .inquiry-brief p,
.senior-mode-active .inquiry-item .inquiry-name,
.senior-mode-active .inquiry-item .inquiry-date {
  font-size: 1.10rem;
}

.senior-mode-active .user-details .detail-email,
.senior-mode-active .inquiry-meta .meta-item span,
.senior-mode-active .inquiry-message h4,
.senior-mode-active .inquiry-message .message-body,
.senior-mode-active .inquiry-reply h4,
.senior-mode-active .inquiry-reply form textarea {
  font-size: 1.25rem;
}

/* CBT Add Event Page */
.senior-mode-active .event-card .event-header h3,
.senior-mode-active .event-card .event-header span,
.senior-mode-active .event-content p,
.senior-mode-active .event-detail-item .detail-content span,
.senior-mode-active .event-date-badge span,
.senior-mode-active .event-footer span {
  font-size: 1.25rem;
}

/* CBT Business Management Page */
.senior-mode-active .business-statistics .stat span,
.senior-mode-active .business-brief .business-owner span,
.senior-mode-active .business-brief div,
.senior-mode-active .business-brief .business-status span {
  font-size: 1.25rem;
}

.senior-mode-active .business-brief .business-header h4,
.senior-mode-active .business-brief .business-header span {
  font-size: 1rem;
}

.senior-mode-active .business-header-info span,
.senior-mode-active .owner-info-header h4,
.senior-mode-active .owner-info-header .owner-profile div p,
.senior-mode-active .business-meta .meta-section h4,
.senior-mode-active .business-meta .meta-section .meta-grid .meta-item span,
.senior-mode-active .business-meta .meta-item span {
  font-size: 1.25rem;
}

.senior-mode-active .business-meta .business-location-map h4,
.senior-mode-active .business-description h4,
.senior-mode-active .business-description .description-body,
.senior-mode-active .admin-notes h4,
.senior-mode-active .admin-notes form textarea {
  font-size: 1.25rem;
}

/* System Admin Dashboard */
.senior-mode-active .page-title p,
.senior-mode-active .summary-container .summary-value-row small,
.senior-mode-active .users-table-sa th,
.senior-mode-active .users-table-sa td,
.senior-mode-active .users-table-sa td span {
  font-size: 1.25rem;
}

/* System Admin User Management */
.senior-mode-active .search-container51 input,
.senior-mode-active .user-table,
.senior-mode-active .user-table th,
.senior-mode-active .user-table span {
  font-size: 1.25rem;
}

/* System Admin Data Management */
.senior-mode-active .stat-card .stat-content h3,
.senior-mode-active .stat-card .stat-content p,
.senior-mode-active .table-wrapper th,
.senior-mode-active .table-wrapper td {
  font-size: 1.25rem;
}

/* System Admin System Security */
.senior-mode-active .search-input-sp-wrapper input,
.senior-mode-active .sessions-table,
.senior-mode-active .sessions-table span {
  font-size: 1.25rem;
}