@import "leaflet/dist/leaflet.css";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
/* a:hover {
  color: #535bf2;
} */

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: white;
  }
}

body.menu-open {
  overflow: hidden;
}

button:focus,
a:focus {
  outline: none;
  border: none;
}

@keyframes drop {
  0% {
    transform: translateY(-30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Hide scrollbars for better aesthetics */
::-webkit-scrollbar {
  display: none;
}

.gm-style img[src*="https://maps.gstatic.com/mapfiles/api-3/images/"]
{
  display: none !important;
}

/* Senior Mode */
.senior-mode-active {
  font-size: 1.25rem;
}

.senior-mode-active button {
  font-size: 1.25rem;
}

.senior-mode-active .settings-container .sidebar-item, .senior-mode-active .settings-container .content-section h2 {
  font-size: 1.25rem;
}

.senior-mode-active .faq-list-item, .senior-mode-active .sidebar-item123 {
  font-size: 1.25rem;
}

.senior-mode-active .field-group label, .senior-mode-active .field-group input {
  font-size: 1.25rem;
}

.senior-mode-active .sidebar .sidebar-content .sidebar-menu .menu-item a {
  font-size: 1.25rem;
}

.senior-mode-active .event-tabs .event-tab {
  font-size: 1.25rem;
}